@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0; */
  /* --background-start-rgb: 214, 219, 220; */
  /* --background-end-rgb: 255, 255, 255; */
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --header-height: 80px;
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --fz-xs: 13px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Manrope;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.__header {
  height: var(--header-height);
  -webkit-backdrop-filter: blur(10.5px);
  backdrop-filter: blur(10.5px);
  background: linear-gradient(
    112.83deg,
    hsla(0, 0%, 9%, 0.489),
    hsla(0, 0%, 0%, 0.523) 110.84%
  );
}

.__main_section {
}

.__main {
  background-image: url(/images/multi-lines-vert1.png),
    url(/images/multi-lines-vert2.png);
  background-position: bottom right, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: 500px 500px;
}

.shadow__btn {
  transition: 0.5s;
  transition-property: box-shadow;
  letter-spacing: 2.5px;
}

.shadow__btn {
  background: rgb(0, 0, 0);
  box-shadow: 0 0 20px rgb(127, 127, 127);
}

.shadow__btn:hover {
  box-shadow: 0 0 2px rgb(135, 135, 135), 0 0 15px rgb(109, 109, 109),
    0 0 25px rgb(126, 124, 124), 0 0 50px rgb(90, 90, 90);
}

.__big_heading {
  font-size: clamp(40px, 8vw, 4rem);
}

.__logo:hover {
  box-shadow: 0 0 1px rgb(135, 135, 135), 0 0 10px rgb(109, 109, 109),
    0 0 20px rgb(126, 124, 124), 0 0 40px rgb(90, 90, 90);
}

li:last-of-type {
  margin-bottom: 20px;
}

.__numbered_heading {
  font-size: clamp(20px, 5vw, 32px);
  white-space: nowrap;
  margin: 10px 0px 40px;
  width: 100%;
  position: relative;
}

.__main_section {
  counter-reset: section 0;
}

.__numbered_heading::before {
  position: relative;
  bottom: -4px;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  font-size: clamp(16px, 3vw, 20px);
  font-family: var(--font-mono);
  font-weight: 400;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.__over-line {
  display: block;
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.__over-line::before {
  font-size: 14px;
  bottom: 0px;
}


.__about_me_pic {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}


.__project_card:nth-of-type(2n + 1) .__project-tech-list {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.__project_card .__project-tech-list li {
  margin: 0px 20px 5px 0px;
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  white-space: nowrap;
  z-index: 2;
  color: white;
  /* background: #111926; */
  /* border-radius: 44% 56% 78% 22% / 26% 33% 67% 74%; */
}

.__project_card:nth-of-type(2n + 1) .__project_content {
  grid-column: 7 / -1;
  text-align: right;
}

.__project_card .__project_image {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 1;
}

.__project_card .__project_image .__image_wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  z-index: 3;
  transition: var(--transition);
  background-color: black;
  mix-blend-mode: screen;
}

.__project_card:nth-of-type(2n + 1) .__project_image {
  grid-column: 1 / 8;
}

.__project_card .__project_content {
  grid-area: 1 / 1 / -1 / 7;
}

.__project_card:nth-of-type(2n+1) .__project-links {
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-left: 0px;
  margin-right: -10px;
}

.__project_card .__project-links a {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px;
}

.__project_card .__project-links a svg {
  width: 20px;
  height: 20px;
}

.__project_card .__project_description {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background: linear-gradient(112.83deg,#101318b4,#131822 110.84%);
  /* border: 1.5px solid rgb(211, 211, 211); */
  /* box-shadow: 0 7px 23px rgba(17, 17, 17, 0.217); */
}