@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --header-height: 80px;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Manrope;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.__header {
  height: var(--header-height);
  -webkit-backdrop-filter: blur(10.5px);
  backdrop-filter: blur(10.5px);
  background: linear-gradient(
    112.83deg,
    hsla(0, 0%, 9%, 0.489),
    hsla(0, 0%, 0%, 0.523) 110.84%
  );
}

.__main_section {
}

.__main {
  background-image: url(/images/multi-lines-vert1.png),
    url(/images/multi-lines-vert2.png);
  background-position: bottom right, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: 500px 500px;
}

.shadow__btn {
  transition: 0.5s;
  transition-property: box-shadow;
  letter-spacing: 2.5px;
}

.shadow__btn {
  background: rgb(0, 0, 0);
  box-shadow: 0 0 20px rgb(127, 127, 127);
}

.shadow__btn:hover {
  box-shadow: 0 0 2px rgb(135, 135, 135), 0 0 15px rgb(109, 109, 109),
    0 0 25px rgb(126, 124, 124), 0 0 50px rgb(90, 90, 90);
}

.__big_heading {
  font-size: clamp(40px, 8vw, 4rem);
}

.__logo:hover {
  box-shadow: 0 0 1px rgb(135, 135, 135), 0 0 10px rgb(109, 109, 109),
    0 0 20px rgb(126, 124, 124), 0 0 40px rgb(90, 90, 90);
}

li:last-of-type {
  margin-bottom: 20px;
}

.__numbered_heading {
  font-size: clamp(26px, 5vw, 32px);
  white-space: nowrap;
  margin: 10px 0px 40px;
  width: 100%;
  position: relative;
}

.__numbered_heading::before {
  position: relative;
  bottom: -4px;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  font-size: clamp(16px, 3vw, 20px);
  font-family: var(--font-mono);
  font-weight: 400;
}
